
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="yandex-verification" content="78c216e0a84a98cf" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="tittle" content="展沟网全景展示360°产品摄影">
    <meta name="description"
        content="展沟网360°格式的产品摄影-使用创新的技术来展示商品，使您的网站目录独一无二">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>展沟网全景展示360°产品摄影</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/devicetemplates.css">
    <link rel="stylesheet" href="css/1200px.css">
    <link rel="stylesheet" href="css/992px.css">
    <link rel="stylesheet" href="css/768px.css">
    <link rel="stylesheet" href="css/576px.css">
    
    <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="/vk.com/js/api/openapi.js?168",t.onload=function(){VK.Retargeting.Init("VK-RTRG-526622-eEsDc"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script>
    <noscript><img src="/vk.com/rtrg?p=VK-RTRG-526622-eEsDc" style="position:fixed; left:-999px;" alt=""/></noscript>


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode
                .insertBefore(k, a)
        })
        (window, document, "script", "/mc.yandex.ru/metrika/tag.js", "ym");

        ym(57006748, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="/mc.yandex.ru/watch/57006748" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    
    
        
    
</head>

<body class="darkBack pt-5 pt-lg-0" data-spy="scroll" data-target=".navbar" data-offset="56">

    <!-- <div class="sidenav">
        
    </div> -->

   

    <div id="home"></div>
    <!-- 导航菜单 -->


            
                <nav class="navbar bg-dark navbar-expand-lg navbar-dark p-1 fixed-top shadow">
                   <!--  <div class="gear-animation embed-responsive embed-responsive-1by1 m-1">
                        <iframe class=" dfg embed-responsive-item" src="tpl/gear/GearAnimation.html" frameborder="0" scrolling="no"></iframe>
                        
                    </div> -->
                    <div class="container pl-2 pr-2">
                        <div class="mainlogo">
                            <div class="logoImg"></div>
                        </div>
                        <button class="navbar-toggler " type="button" data-toggle="collapse"
                            data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>



                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav ">
                                <li class="nav-item">
                                    <a class="nav-link m-0 p-2 p-lg-2" href="#home" sect>首页</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m-0 p-2 p-lg-2" href="#section-two">产品服务</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m-0 p-2 p-lg-2" href="#section-three">优质展示</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m-0 p-2 p-lg-2" href="#howto">工作方式</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m-0 p-2 p-lg-2" href="#section-four">费用预算</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m-0 p-2 p-lg-2" href="#contacts">联系我们</a>
                                </li>
                            </ul>

                            <div class="d-block d-lg-none float-left p-2" style="text-align: right">
                                <a href="https://vk.com/axigear" target="_blank" type="button"
                                    class="btn social fab fa-vk vk"></a>
                                <!-- --> <a title="Viber" href="viber://add?number=13386070835" class="btn social fab fa-viber viber"></a>
                    <a title="WhatsApp" href="whatsapp://send?phone=+13386070835"
                    class="btn social fab fa-whatsapp whatsapp"></a>
                            </div>
                        </div>
                    
                    
                    
                    <div class="d-none d-lg-block">
                    <button style="font-weight: 300;" type="button" class="btn btn-outline-secondary btn-md b24-web-form-popup-btn-1" style="font-size: 15px"><i class="fas fa-mobile-alt"></i> 请求通话</button>
                    </div></div>

                    
                </nav>
            

            
        
  
    
    <!-- СЕКЦИЯ 1 -->
    
    <div class="first-section container-fluid pb-0 darkBack pt-5 pt-lg-0">       
        <div  class="container align-middle text-center pb-5 pb-lg-0 px-2 px-md-4 h-100 ">
            <div class="row firstRowTop d-flex align-items-center px-2 px-md-3 pt-3 pt-md-5 h-100">                
                    <div class="col-12 col-lg-6 p-2 px-3 px-md-5 text-light text-left text-lg-left">
                        <h1 class="resp-tittle pr-lg-5 revealator-slideright revealator-once">网站格式摄影<span
                                class="orangeFont ">360°</span>
                        </h1>
                        <h3 class="revealator-slideleft revealator-once revealator-delay1">
                            展沟网全景图像展示
                        </h3>
                        <h3 class="revealator-slideleft revealator-once revealator-delay2">
                            全息影像集成解决方案
                        </h3>

                        <div class="row w-100 revealator-slideleft revealator-once revealator-delay3">
                            <div class="col-xl pt-3 text-left align-items-center">
                                <a class="nav-link p-0" href="#section-four">
                                    <button class="btn btn-lg btn-danger bg-axicolor p-3" type="button"
                                        style="word-wrap: normal;"><i class="fas fa-dollar-sign" style="font-size: 20px;
                                        vertical-align: middle;"></i>预算费用</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-0">

                        <div class="tplContainer revealator-zoomin revealator-once">
                            <div class="monitorTpl tpl ">
                                <div class="screenTpl ">
                                    <iframe class="spinner" src="tpl/fastPreview/toMonitor/player.html" height="88%" width="93%"
                                        frameborder="0" scrolling="no"
                                        style="background: white !important; z-index: inherit; "></iframe>
                                </div>
                                <div class="podstavkaTpl">
                                    <div class="podstavka2Tpl"></div>
                                </div>
                                <div class="smartphoneTpl tpl">
                                    <div class="smartphoneSpeakerTpl"></div>
                                    <div class="smartphoneButTpl"></div>
                                    <iframe  class="spinner smartphoneImage" src="tpl/fastPreview/toSmartphone/player.html"
                                        height="320px" width="170px" frameborder="0" scrolling="no"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                
            </div>

            
            

            <div class="strelka row  text-center p-0 m-0 revealator-zoomin">
                <div class="col p-0 m-0 ">
                    <div class=" d-block">
                        <a class="nav-link far fas fa-angle-double-down text-light p-0 m-0" href="#section-two"
                        style="font-size: 60px"></a>
                    </div>
                </div>
            </div>            
        </div>
    
    </div>
    
    <!-- СЕКЦИЯ 2 ОПИСАНИЕ-->
<div id="section-two" class="container-fluid pt-0 pt-md-5 pb-2 darkBack text-light">
    <div class="container pt-5 pt-md-3 pb-3"><br>
        <h1 class="text-center py-3 pb-0 pb-md-5 revealator-slideup revealator-once revealator-delay1" style="border-radius: 0.5rem;">什么是<span style=" color: #fb2602; ">360°</span>照片</h1>
        <div class="row justify-content-around align-items-center ">
            <div class="col-lg d-flex flex-column align-items-stretch">
                <div class="feature d-flex flex-row align-items-center p-2 my-3 revealator-slideright revealator-once revealator-delay1">                   
                    <i class="arrow d-none d-sm-block fas fa-angle-right" ></i>                   
                    <h4>一种用于展示商品的越来越流行的新技术。</h4>
                </div>
                <div class="feature d-flex flex-row align-items-center p-2 my-3 revealator-slideright revealator-once revealator-delay2">                    
                    <i class="arrow d-none d-sm-block fas fa-angle-right" ></i>                                      
                    <h4>使用光场设备从各个方面对拍摄对象进行数据采集。</h4>
                </div>
                <div class="feature d-flex flex-row align-items-center p-2 my-3 revealator-slideright revealator-once revealator-delay3">                    
                    <i class="arrow d-none d-sm-block fas fa-angle-right" ></i>                    
                    <h4>该过程是自动化的，拍摄速度很快。</h4>
                </div>
                <div class="feature d-flex flex-row align-items-center p-2 my-3 revealator-slideright revealator-once revealator-delay4">                    
                    <i class="arrow d-none d-sm-block fas fa-angle-right" ></i>                    
                    <h4>这些不是普通的照片，但可以用于HTML集成转盘展示。</h4>
                </div>
            </div>
            <div class="col-lg-7 text-right d-flex justify-content-center revealator-zoomin revealator-once revealator-delay1" style="height: inherit;">
                <div class="windowTpl mt-5 mt-md-0 p-0 m-0 ">
                    <div class="topmenuTpl">
                        <div class="headerTpl" style="user-select: none;">您的网站</div>
                        <div class="butTpl greenbtn"></div>
                        <div class="butTpl bluebtn"></div>
                        <div class="butTpl redbtn"></div>
                    </div>
                    <div class="bodyTpl">
                        <div id="carouselExampleIndicators" class="carousel mt-0" style="overflow: hidden;" data-ride="carousel" data-interval="false">                            
                            <div class="carousel-inner pt-3 px-0 pb-5" style="height: 400px; ">
                                <div class="carousel-item active  h-100 w-100 ">
                                    <iframe class="" src="tpl/photo360/boot/player.html" height="110%" width="100%" frameborder="0"
                                        scrolling="no"></iframe>
                                    <div class="carousel-caption text-light">
                                        <h5>例 1</h5>
                                        <small>使用向左和向右按钮滚动浏览示例</small>
                                    </div>
                                </div>
                                <div class="carousel-item  h-100">
                                    <iframe class="" src="tpl/photo360/player/player.html" height="110%" width="100%" frameborder="0" scrolling="no"></iframe>
                                    <div class="carousel-caption text-light">
                                        <h5>例 2</h5>
                                        <small>使用向左和向右按钮滚动例</small>
                                    </div>
                                </div>
                                <div class="carousel-item  h-100">
                                    <iframe class="" src="tpl/photo360/motor/player.html" height="110%" width="100%" frameborder="0" scrolling="no"></iframe>
                                    <div class="carousel-caption text-light">
                                        <h5>例 3</h5>
                                        <small>使用向左和向右按钮滚动浏览示例</small>
                                    </div>
                                </div>
                                <div class="carousel-item text-center  h-100">
                                    <iframe class="" src="tpl/photo360/teapot/player.html" height="110%" width="100%" frameborder="0"
                                        scrolling="no"></iframe>
                                    <div class="carousel-caption text-light">
                                        <h5>例 4</h5>
                                        <small>使用向左和向右按钮滚动浏览示例</small>
                                    </div>
                                </div>
                                <div class="carousel-item text-center  h-100">
                                    <iframe class="" src="tpl/photo360/speaker/player.html" height="110%" width="100%" frameborder="0"
                                        scrolling="no"></iframe>
                                    <div class="carousel-caption text-light">
                                        <h5>例 5</h5>
                                        <small>使用向左和向右按钮滚动浏览示例</small>
                                    </div>
                                </div>
                                <div class="carousel-item text-center  h-100">
                                    <iframe class="" src="tpl/photo360/calendar/player.html" height="110%" width="100%" frameborder="0"
                                        scrolling="no"></iframe>
                                    <div class="carousel-caption text-light">
                                        <h5>例 6</h5>
                                        <small>使用向左和向右按钮滚动浏览示例</small>
                                    </div>
                                </div>
                                <div class="carousel-item text-center  h-100">
                                    <iframe class="" src="tpl/photo360/cup/player.html" height="110%" width="100%" frameborder="0"
                                        scrolling="no"></iframe>
                                    <div class="carousel-caption text-light">
                                        <h5>例 7</h5>
                                        <small>使用向左和向右按钮滚动浏览示例</small>
                                    </div>
                                </div>
                                <div class="carousel-item text-center  h-100">
                                    <iframe class="" src="tpl/photo360/deltaprinter/player.html" height="110%" width="100%" frameborder="0"
                                        scrolling="no"></iframe>
                                    <div class="carousel-caption text-light">
                                        <h5>例 8</h5>
                                        <small>使用向左和向右按钮滚动浏览示例</small>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon " style="display: none;" aria-hidden="true"></span>
                                <i class="arrow-carousel fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon " style="display: none;" aria-hidden="true"></span>
                                <i class="arrow-carousel fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</div>

<!-- СЕКЦИЯ 3 ПРЕИМУЩЕСТВА -->
<div class="container-fluid darkBack">
    <div id="section-three" class="container pt-5 pt-md-3 p-md-5  text-light">
        <div class="row">
            <div class="col p-0">
                <h1 class="text-center my-2 mb-3 pt-5 revealator-slideup revealator-once revealator-delay1"> <span style="color: #fb2602">360°</span>照片优势</h1>
            </div>
        </div>
        
        <div class="row pt-0">
            <div class="col-12 col-lg text-left text-lg-right  d-flex align-content-between flex-wrap">
                <div class="zum pt-5 revealator-slideleft revealator-once revealator-delay1">
                    <h3 class="orangeHeader pl-3 pr-lg-3">快速制作</h3>
                    <p>由我们拍摄一件物品只需几分钟</p>
                    <p class="">使用的硬件和软件处理和创建360°照片过程是自动的。 
                    </p>
                </div>
                
                <div class="zum pb-4 revealator-slideleft revealator-once revealator-delay2">
                    <h3 class="orangeHeader pl-3 pr-lg-3">简单易行</h3>
                    <p>360°照片嵌入在任何站点上，这是可行的。</p>
                    <p>用户可以通过任何设备查看它,比如台式电脑,平板,手机,智能眼镜腕表等。</p>
                </div>
            </div>

            <div class="col col-lg d-flex align-items-center revealator-zoomin revealator-once revealator-delay4">
                <div class="happyBox text-center">
                    <div class="littleCircle one d-none d-lg-block">1</div>
                    <div class="littleCircle two d-none d-lg-block">2</div>
                    <div class="littleCircle three d-none d-lg-block">3</div>
                    <div class="littleCircle four d-none d-lg-block">4</div> <!-- -->
                    <div class="p-1 h-100 d-flex align-content-around flex-wrap justify-content-center align-items-center">
                        <div class="d-none d-lg-block">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                        <div class="d-none d-lg-block">
                            <h2 class="text-light">为什么要用<span style="color: #fb2602">360°</span>照片  </h2>
                        </div>
                        <div class="d-block d-lg-none">
                            <h1 class="text-light">订购照片 <span style="color: #fb2602">360°</span> </h1>
                        </div>
                        <div class="p-4">
                            <button class="btn btn-lg btn-block btn-danger bg-axicolor p-3 b24-web-form-popup-btn-1" type="button"><i class="far fa-envelope"
                                    style="font-size: 20px; vertical-align: middle;"></i>提交你的申请</button>
                        </div>
                        <div class="d-none d-lg-block">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg  d-flex align-content-between flex-wrap">
                <div class="zum pt-5 revealator-slideright revealator-once revealator-delay1">
                    <h3 class="orangeHeader pl-3">有利可图</h3>
                    <p>360°格式的商品照片能让买家退货数量减少。</p>
                    <p>360°照片可提高您的转换率和吸引力。</p>
                </div>
                <div class="zum pb-4 revealator-slideright revealator-once revealator-delay2">
                    <h3 class="orangeHeader pl-3">方便快捷</h3>
                    <p>甚至无需离开办公室我们会为您提供带移动照相的方案</p>
                    <p>移动照相不需要很多空间</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- WORKING PROCESS -->

<div id="howto" class="container-fluid pt-5 pt-md-3 darkBack text-light">
    <div  class="container pt-3 pt-md-5"><br>
        <h1 class="text-center md-0 mb-md-5 revealator-slideup revealator-once revealator-delay1">我们的工作方式</h1>
        <div class="row ">
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 d-flex justify-content-center my-0 my-md-4 revealator-slidedown revealator-once revealator-delay1">
                <div class="card bg-transparent" style="width: 18rem;">
                    <i class="far fa-edit p-4 mx-5 d-none d-md-block" style="background: #fb2602; border-radius: 0.5rem;"></i>
                    <div class="card-body p-0 p-md-2">                        
                        <div class="d-flex d-md-block flex-row align-items-center p-2 my-3">
                            <i class="littleIco far fa-edit d-block d-md-none"></i>
                            <h4 class="card-title" style="border-radius: 0.5rem;">计划</h4>
                        </div>                        
                        <p class="card-text">确定要拍摄360°的对象及其编号。
                         联系我们，澄清所有细节，
                         获取报价并批准订单。</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 d-flex justify-content-center my-0 my-md-4 revealator-slidedown revealator-once revealator-delay2">
                <div class="card bg-transparent" style="width: 18rem;">
                    <i class="fas fa-camera-retro p-4 mx-5 d-none d-md-block" style="background: #fb2602; border-radius: 0.5rem;"></i>
                    <div class="card-body p-0 p-md-2">                        
                        <div class="d-flex d-md-block flex-row align-items-center p-2 my-3">
                            <i class="littleIco fas fa-camera-retro d-block d-md-none"></i>
                            <h4 class="card-title text-center" style="border-radius: 0.5rem;">摄影</h4>
                        </div>
                        <p class="card-text">向我们提供必要的物品，或订购参观
                             具有移动照相的范例，之前已经准备好工作场所和条件。
                             我们将进行拍摄并将成品发送给你们。</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3 d-flex justify-content-center my-0 my-md-4 revealator-slidedown revealator-once revealator-delay3">
                <div class="card bg-transparent" style="width: 18rem;">
                    <i class="fas fa-photo-video p-4 mx-5 d-none d-md-block" style="background: #fb2602; border-radius: 0.5rem;"></i>
                    <div class="card-body p-0 p-md-2">
                        <div class="d-flex d-md-block flex-row align-items-center p-2 my-3">
                            <i class="littleIco fas fa-photo-video d-block d-md-none"></i>
                            <h4 class="card-title" style="border-radius: 0.5rem;">订制</h4>
                        </div>                        
                        <p class="card-text">素材将被编辑，在播放器中生成
                             并准备整合到互联网站点中。 在此阶段可以进行个性化
                             满足您要求的播放器，将信息添加到主题描述中。</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3  d-flex justify-content-center my-0 my-md-4 revealator-slidedown revealator-once revealator-delay4">
                <div class="card bg-transparent" style="width: 18rem;">
                    <i class="far fa-file-code p-4 mx-5 d-none d-md-block" style="background: #fb2602; border-radius: 0.5rem;"></i>
                    <div class="card-body p-0 p-md-2">
                        <div class="d-flex d-md-block flex-row align-items-center p-2 my-3">
                            <i class="littleIco far fa-file-code d-block d-md-none"></i>
                            <h4 class="card-title" style="border-radius: 0.5rem;">代码</h4>
                        </div>                        
                        <p class="card-text">我们将为您提供所有捕获的照片的现成模块。
                             使用我们的详细说明将准备好的照片放在网站上。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 部分 5 -->
<div id="section-four" class="container-fluid darkBack text-light py-3 py-md-5">
    <div class="container py-4  rounded-lg">
        <h1 class="text-center py-5 revealator-slideup revealator-once revealator-delay1">计算大概费用</h1>
        <div class="row px-5">
            <div class="col-lg">
                <div class="row">
                    <div class="col-md align-self-end">
                        <h5 class="py-3 revealator-zoomin revealator-once revealator-delay1">订制发生在哪里？</h5>
                        <select class="q-where custom-select revealator-slideright revealator-once revealator-delay2" >
                            <option selected>选择选项</option>
                            <option value="1">在工作室拍摄</option>
                            <option value="2">现场拍摄</option>
                        </select>

                        <h5 class="py-3 revealator-zoomin revealator-once revealator-delay1">项目数</h5>
                        <div class="revealator-slideright revealator-once revealator-delay2">
                            <input type="number" class="form-control q-quantity" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="quantity" min="1" max="1000" value="1">
                        </div>
                    </div>
                    <div class="col-md align-self-end">
                        <h5 class="py-3 revealator-zoomin revealator-once revealator-delay1">拍摄的复杂性</h5>
                        <select class="q-type custom-select revealator-slideleft revealator-once revealator-delay2">
                            <option selected>选择难度</option>
                            <option value="1">复杂</option>
                            <option value="2">简单</option>                            
                        </select>

                        <h5 class="py-3 revealator-zoomin revealator-once revealator-delay1">项目颜色</h5>
                        <select class="q-color custom-select revealator-slideleft revealator-once revealator-delay2">
                            <option selected>选择一种颜色</option>
                            <option value="1">彩色光泽</option>
                            <option value="2">彩色亚光</option>
                            <option value="3">光泽白</option>
                            <option value="4">亚光白</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg text-center">
                <div class="row h-100 pt-3 pt-md-2">
                    <div class="col-12 align-self-center revealator-zoomin revealator-once revealator-delay1">
                        <h2 class="price">输入参数</h2>
                        <h3 class="discount text-success"></h3>
                    </div>
                    <div class="col-12 align-self-end revealator-zoomin revealator-once revealator-delay1">
                        <button type="button" onclick="priceHasCalculated()" class="btn calculate btn-lg bg-axicolor text-light">计算费用</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-4 px-0 px-md-5 revealator-slideright revealator-once">
            <h5>计算器参考</h5>            
            <ul class="px-4 pt-2"></ul>
                <li>
                    订购一定数量的物品时，您将获得折扣
                </li>
                <li>
                     如果物体很大，不稳定，放在旋转台上，则很难拍摄则需要额外的设备，
                     需要特殊的角度，旋转时对象部分的动画需要后期调整等。
                </li>
                <li>
                    在网站上计算的费用是大约的，请向我们咨询以了解详细信息。
                </li>
            </ul>                
            
        </div>

        <div class="row">

            <div class="col-lg text-center">

            </div>
        </div>
    </div>
</div>

<!-- CONTACTS -->
<div id="contacts" class="container-fluid darkBack text-light p-0 m-0">
    <div class="container pt-5 pb-5">
        <h1 class="text-center revealator-slideup revealator-once revealator-delay1">联系我们</h1>
        <div class="row align-items-center pt-5">
            <div class="col-md-6 col-lg-4 text-left ">
                <div class="contact-info ">
                    <div class="phone-number p-3 d-flex flex-row align-items-center revealator-slideleft revealator-once ">
                        <i class="littleIco fas fa-phone-alt" style="font-size: 30px; vertical-align: middle;"></i>                        
                        <div>
                        <a title="呼叫" href="tel:+86-133-86-07-0835"><i>+86-133-86-07-0835</i></a></div>
                    </div>                    
                    <div class="email-adress p-3 d-flex flex-row align-items-center revealator-slideleft revealator-once ">
                        <i class="littleIco far fa-envelope" style="font-size: 30px; vertical-align: middle;"></i>
                        <a class="copyToClipboard" title="点击复制" style="font-size: 24px; "><i>info@guanfu.org</i></a>
                    </div>
                    <div class="adress p-3 d-flex flex-row align-items-center revealator-slideleft revealator-once ">
                        <i class="littleIco fas fa-home " style="font-size: 30px; vertical-align: middle;"></i>
                        <a class="copyToClipboard" title="点击复制"
                            style="font-size: 20px; vertical-align: middle;"><i>上海市宝山区沪肖路蔡家弄东队18号</i></a>
                    </div>
                    <div class="text-center px-4 py-3 revealator-slideleft revealator-once ">                        
                        <small >单击电子邮件或地址以将文本复制到剪贴板。 点击联系电话以拨打电话</small>
                    </div>
                    <div class="social-buttons p-3 pb-4 text-center revealator-slideleft revealator-once ">
                        <a href="https://vk.com/guanfu" target="_blank" type="button"
                            class="btn social fab fa-vk vk"></a>
                       <a title="Viber" href="viber://add?number=15900718107" class="btn social fab fa-viber viber"></a>
                        <a title="WhatsApp" href="whatsapp://send?phone=+15900718107" class="btn social fab fa-whatsapp whatsapp"></a>  <!-- -->
                    </div>
                </div>
            </div>
            <div class="col-md revealator-zoomin revealator-once revealator-delay1">
                    <iframe
                        src="/earth#31.376782,121.360868,17z,sat#www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2281.3486089642224!2d61.37044621571446!3d55.12467564772708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c58d707876852b%3A0xacc442f99deb96ba!2z0YPQuy4g0KLRgNC-0LjRhtC60LDRjywgMdCSLCDQp9C10LvRj9Cx0LjQvdGB0LosINCn0LXQu9GP0LHQuNC90YHQutCw0Y8g0L7QsdC7LiwgNDU0MDg3!5e0!3m2!1sru!2sru!4v1579811168272!5m2!1sru!2sru"
                        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->

    <footer  style="filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.281));">
        <div class="container-fluid bg-dark text-light  text-center">
            <div class="row">
                <div class="col">
                    <p class="p-4">zhangou.pw © 2020</p>  
                </div>
            </div>
        </div>
        
    </footer>




<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-notify modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">立即行动</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="adv-bg row p-3">
                    <div class="col-0 col-md-6 w-100">
                        
                    </div>
                    <div class="col-12 col-md-6 adverb">
                        <h3>360°全景展示</h3>
                        <h3 class="pt-2 pt-md-4">订购全媒体营销方案,让客户主动找伱</h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div style="display:none">
    <script src="http://s11.cnzz.com/z_stat.php?id=1584108&web_id=1584108" language="JavaScript"></script>
</div>

<!--百度自动推送代码-->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<!--百度自动推送代码-->


<!-- 网址安全插件开始 -->
<script type="text/javascript">
	var _svq_ = _svq_ || [];
	_svq_.push(['set_api_key', '16adflfafads9gf28327005056b68c3d']);
	_svq_.push(['set_noicon_class', '']); //链接前不显示任何图标，如果需要显示，请去掉这句
	_svq_.push(['set_nopopup_class', '-sv-no-popup']); 
	_svq_.push(['check_page']);
	(function(){   
		var aq = document.createElement('script');
		aq.type = 'text/javascript'; 
		aq.async = true;   
		aq.charset = 'utf-8';
		aq.src = 'http://openapi.anquan.org/static/aq.js';    
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(aq, s); 
	})();
</script>	
<!-- 网址安全插件结束 --> 
    <script src="js/jquery-3.4.1.min.js" type='text/javascript'></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/spritespin-4.0.11.js"></script>
    
    <script>
        let priceHasCalculatedOnce = false;
        function priceHasCalculated (){
            if (!priceHasCalculatedOnce) {
                priceHasCalculatedOnce =true;
                ym(57006748, 'reachGoal', 'hasCalculated');
            }
        }
    </script>

    <script>
            (function(w,d,u){
                    var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                    var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
            })(window,document,'/cdn.bitrix24.ru/b10770384/crm/site_button/loader_2_c0k0rn.js');
    </script>
    <script id="bx24_form_button" data-skip-moving="true">
        (function (w, d, u, b) {
            w['Bitrix24FormObject'] = b;
            w[b] = w[b] || function () {
                arguments[0].ref = u;
                (w[b].forms = w[b].forms || []).push(arguments[0])
            };
            if (w[b]['forms']) return;
            var s = d.createElement('script');
            s.async = 1;
            s.src = u + '?' + (1 * new Date());
            var h = d.getElementsByTagName('script')[0];
            h.parentNode.insertBefore(s, h);
        })(window, document, '/axigear.bitrix24.ru/bitrix/js/crm/form_loader.js', 'b24form');

        b24form({
            "id": "1",
            "lang": "ru",
            "sec": "5zfwal",
            "type": "button",
            "click": ""
        });
    </script>
</body>
</html>